[submodule "client"]
	path = client
	url = https://github.com/zincforest/client
[submodule "eth"]
	path = eth
	url = https://github.com/zincforest/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/zincforest/circuits
[submodule "packages"]
	path = packages
	url = https://github.com/zincforest/packages
